<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.popcornsoda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="PopcornSoda"
        android:roundIcon="@mipmap/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.DetailActivityAutor"
            android:exported="true" />
        <activity
            android:name=".ui.AddCategory"
            android:label="Adicionar Categoria"
            android:exported="true" />
        <activity
            android:name=".ui.DetailActivtySerie"
            android:parentActivityName=".ui.Series" />
        <activity
            android:name=".ui.ApagarSerie"
            android:label="Apagar Série?"
            android:parentActivityName=".ui.Series" />
        <activity
            android:name=".ui.ApagarAutor"
            android:label="Apagar Autor?"
            android:parentActivityName=".ui.Autores" />
        <activity
            android:name=".ui.ApagarMovie"
            android:label="Apagar Filme?"
            android:parentActivityName=".ui.Filmes" />
        <activity
            android:name=".ui.AlterarSerie"
            android:label="Editar Série..."
            android:parentActivityName=".ui.Series" />
        <activity
            android:name=".ui.AlterarAutor"
            android:label="Editar Autor..."
            android:parentActivityName=".ui.Autores" />
        <activity
            android:name=".ui.AlterarMovie"
            android:label="Editar Filme...?"
            android:parentActivityName=".ui.Filmes" />
        <activity
            android:name=".ui.AddSerie"
            android:label="Adicionar Série"
            android:parentActivityName=".ui.Series" />
        <activity
            android:name=".ui.AddMovie"
            android:label="Adicionar Filme..."
            android:parentActivityName=".ui.Filmes" />
        <activity
            android:name=".ui.Autores"
            android:label="Autores"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.Series"
            android:label="Séries"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.AddAutor"
            android:label="Adicionar Autor..."
            android:parentActivityName=".ui.Autores">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.popcornsoda.ui.Autores" />
        </activity>
        <activity
            android:name=".ui.DetailActivityMovie"
            android:parentActivityName=".ui.Filmes" />
        <activity
            android:name=".ui.Filmes"
            android:label="Filmes"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".BdPopcorn.ContentProviderPopcorn"
            android:authorities="com.example.popcornsoda.BdPopcorn"
            android:exported="false" />
    </application>

</manifest>